* {
    margin: 0;
    padding: 0;
    border: 0;
}

.box {
    height: 15vh;
    width: 100%;
}

.grey {
    background-color: grey;
    padding-left: 15px;
    padding-top: 15px;
}

.bluesquare {
    height: 12vh;
    width: 12vh;
    background-color: blue;
    float: left;
}

.text-container {
    height: 25vh;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.text {
font-weight: lighter;
font-style: normal;
}

.blue {
    background-color: blue;
}

.teal {
    background-color: teal;
}

.lime {
    background-color: lime;
}

.yellow {
    background-color: yellow;
}