* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 15vh;
    background-color: rgb(66, 66, 66);
}

.left-margin {
    width: 15vw;
    height: 85vh;
    background-color: rgb(204, 204, 204);
    float: left;
}

.main-body {
    height: 77vh;
    width: 70vw;
    background-color: white;
    margin: auto 15vw;
}

.right-margin {
    width: 15vw;
    height: 85vh;
    float: right;
    background-color: rgb(204, 204, 204);
}

.footer {
    width: 70vw;
    height: 8vh;
    background-color: black;
    margin: 0 auto;
    margin: 100 50;
}


